#hero {
  background: url("https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center;
}

#amenities .container {
  margin: 4rem auto;
  width: 100%;
}
#amenities h2,
#photos h2,
#contact h2 {
  position: relative;
  z-index: 10;
}
#amenities h2:after,
#photos h2:after,
#contact h2:after {
  height: 15px;
  width: 100px;
  background: #ecc94b;
  content: "";
  position: absolute;
  bottom: 4px;
  left: 50%;
  z-index: -1;
  border-radius: 5px;
}
.amenity i {
  font-size: 5rem;
}
#navigation {
  transition: right 0.5s ease;
}
.navOpen {
  right: 0;
}
.navClosed {
  right: -500px;
}
#gallery {
  margin-top: 2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4px;
}

.column {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  width: 100%;
}

#contact .section h4 {
  border-bottom: solid 1px white;
}

.links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.links span {
  margin: 0.5rem;
}

.links a i {
  margin-right: 0.5rem;
}

.links a:hover {
  color: #ecc94b;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  background: #ecc94b;
}
footer a:hover {
  color: #3c366b;
}
@media (min-width: 768px) {
  #navButton {
    display: none;
  }
  nav {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #navigation {
    position: unset;
    background: none;
    flex-direction: row;
    height: auto;
    text-align: right;
    display: block;
    width: max-content;
  }
  #navigation a {
    margin: 0;
    transition: color 0.25s ease;
  }
  #navigation a:visited,
  #navigation a:active {
    color: white;
  }
  #navigation a:hover {
    color: #ecc94b;
  }
  #navigation :not(:last-child) {
    margin-right: 3rem;
  }
  #close {
    display: none;
  }
  #amenities {
    height: 50vh;
  }
  #amenities .container {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  #amenities .container div {
    width: 25%;
  }
  #gallery {
    width: 90%;
    margin: 0 auto;
  }
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (min-width: 1020px) {
  #contact .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 65%;
    margin: 2rem auto;
  }
  .column {
    flex: 45%;
    max-width: 45%;
  }
  #contact .section {
    width: 45%;
    padding: 0;
  }
}
